{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Do you like?</th>
      </tr>
    </thead>
    <tbody>
        <h3>Please, tell us what kind of video you like. Click on the button beside each video to tell us if you like or not.</h3>
        
        <button type="submit" class="done" href={{url_for('active_learning')}} style="background:#3630a3;color:white;font-size: 11px;">Done</button>
      {% for video in videos %}
        <tr name={{ video.video_id }}>
          <td><img alt="Qries" src={{ video.thumbnail }}
            width="150" height="70"></img></td>
          <td><a href={{ video.video_id }} target="_blank">{{ video.title }}</a></td>
          <td>
            <form action="background_process_button" method="post">
              <a><button name={{ video.video_id }}yes style="background:#3630a3;color:white;font-size: 11px;">Yes</button></a>
              <a><button name={{ video.video_id }}no style="background:#3630a3;color:white;font-size: 11px;">No</button></a>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        "order": [[ 2, "desc" ]]
      });
    });
  </script>
{% endblock %}